<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
            rel="stylesheet" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <!-- Navbar -->
        <header>{% include 'navbar.html' %}</header>

        <!-- Hero Section -->
        <section class="hero">
            <h1>Clavikey</h1>
            <p>Um jeito simples de organizar suas chaves</p>
            <a href="#section1" class="cta-button">Saiba mais</a>
        </section>

        <!-- Seção 1 -->
        <section id="section1" class="section">
            <h2>Seção 1: O que oferecemos</h2>
            <p>
                Detalhes sobre os serviços ou funcionalidades da sua aplicação.
            </p>
        </section>

        <!-- Seção 2 -->
        <section id="section2" class="section">
            <h2>Seção 2: Como Funciona</h2>
            <p>
                Explique como sua aplicação funciona de forma simples e eficaz.
            </p>
        </section>

        <!-- Seção 3 -->
        <section id="section3" class="section">
            <h2>Seção 3: Contato</h2>
            <p>Entre em contato com a gente!</p>
        </section>

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <p>
                    Feito por
                    <a href="https://github.com/ROARenan" target="_blank"
                        >ROARenan</a
                    >
                </p>
            </div>
        </footer>

        <script src="../static/script.js"></script>
    </body>
</html>
